<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h6>Certificate uploaded Successfully!</h6>
    <h5>Uploaded Certificate Details :</h5>
    <table border="5" cellpadding="20">
        <tr>
            <th>Certificate Name</th>
            <td><%= name %></td>
        </tr>
        <tr>
            <th>Certificate link</th>
            <td><a href=<%= link %> target="_blank">View Certificate</a></td>
        </tr>
        <tr>
            <th><b>Certificate Code</b></th>
            <td><b><%= code %></b></td>
        </tr>
    </table>
    <form action="/student_main/<%= usn %>">
        <button type="submit">Done</button>
    </form>
</body>
</html>  -->

 <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> APM System</title>
    <link rel="icon" type="x-icon" href="../../../../icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../../style.css">
  </head>
  <body>
    <div class="container "> 
    <img src="../../../../ournewlogo.png" alt="ourlogo" width="300" height="90">
  <span class="Main_logo_content">  <strong>Activity Points Management System</strong></span>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="">APM System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Upload Certificate</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Others
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="">Track Status</a></li>
                  <li><a class="dropdown-item" href="">Contact Proctor</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="">Help</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
<br>
<br>
<div class="container">

  <div class="container col-sm-6">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h6>Certificate uploaded Successfully!</h6>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>




    
    <div id="login_page">
        <div class="container" >
            <div class="swalpa_jaga"></div>
          <div class="container col-sm-11">


            <div class="container col-sm-6" style="text-align: center;">
                <h3>Uploaded Certificate Details</h3>
            </div>
             <br>




              <!-- <table class="table" style="text-align: center;">
                <tr>
                    <th scope="row">Certificate Name</th>
                    <td><%= name %></td>
                  </tr>
              </table>
              <table class="table"  style="text-align: center;">
                <tr>
                    <th scope="row">Certificate Link</th>
                    <td><a href=<%= link %> target="_blank">View Certificate</a></td>
                  </tr>
              </table>
              <table class="table" style="text-align: center;">
                <tr>
                    <th scope="row">Certificate Code</th>
                    <td><%= code %></td>
                </tr>
              </table> -->








              
              <table class="table" style="text-align: center; ">
                <tr>
                  <th scope="row">Certificate Code</th>
                  <td><%= code %></td>
              </tr>
                <tr>
                    <th scope="row">Certificate Name</th>
                    <td><%= name %></td>
                  </tr>

                  <tr>
                    <th scope="row">Certificate Link</th>


                    <td>
                      
            
                  
                      <a   class="certificates" href=<%= link %> target="_blank">View Certificate</a>
                   
                    
                    
                    
                    </td>
                  </tr>

            




                  

              </table>
             








          </div>
<div class="swalpa_jaga"></div>
<form action="/student_main/<%= usn %>">
   
    <div class="container  col-sm-1" style="align-items: center;">
        <button type="submit" class="btn btn-success"  style="width: 6rem; height: 3rem;">Done</button>
    </div>    
</form>
<br>
<br>
</div>
</div>
    <div class="swalpa_jaga"></div>
    <div class="swalpa_jaga"></div>
    <div class="swalpa_jaga"></div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>